<header class="pn-header">

<div class="nav">


<a href="index.html" class="logo">
⚜ PersiaNexus
</a>



<button class="menu-toggle" onclick="toggleMenu()">

☰

</button>



<nav id="pn-menu">


<a href="index.html">
🏠 Home
</a>


<a href="nft.html">
💎 NFT Universe
</a>


<a href="worlds.html">
🌍 Worlds
</a>


<a href="story.html">
📖 Stories
</a>


<a href="animation.html">
🎬 Animation
</a>


<a href="music.html">
🎵 Music
</a>


<a href="ai.html">
🤖 AI Nexus
</a>


<a href="dashboard.html">
👑 Founder
</a>


</nav>



</div>

</header>



<script>

function toggleMenu(){

const menu =
document.getElementById("pn-menu");


menu.classList.toggle("active");


}

</script>
